<table width="98%" align="center" cellspacing="0">
	<tr>
		<td align="center" width="15%" class="nivel01">Id.</td>
		<td align="center" class="nivel01">Fecha</td>
		<td align="center" class="nivel01">Nombre</td>
		<td align="center" class="nivel01">Email</td>
		<td align="center" class="nivel01">Teléfono</td>
		<td align="center" width="30px" class="nivel01">&nbsp;</td>
	</tr>
	{section name=linea loop=$REG}
	<tr>
		<td align="center" class="nivel02">{$REG[linea].id}</td>
		<td align="left" class="nivel02" valign="top">{$REG[linea].fecha_dsc}</td>
		<td align="left" class="nivel02" valign="top">{$REG[linea].nombre|utf8_encode}</td>
		<td align="left" class="nivel02" valign="top">{$REG[linea].email}</td>
		<td align="left" class="nivel02">{$REG[linea].telefono}</td>
		<td width="30px" class="nivel02" nowrap="nowrap">
			{include file="base_accion_grid.htm"}
		</td>
	</tr>
	{/section}
</table>
