<table width="98%" align="center" cellspacing="0">
	<tr>
		<td align="center" width="15%" class="nivel01">Identificador</td>
		<td align="center" class="nivel01">Título</td>
		<td align="center" class="nivel01">Marca</td>
		<td align="center" class="nivel01">Portada</td>
		<td align="center" class="nivel01" width="{$w}" height="{$h}">Vista previa</td>
		<td align="center" width="50px" class="nivel01">&nbsp;</td>
	</tr>
	{section name=linea loop=$REG}
	<tr>
		<td align="center" class="nivel02">{$REG[linea].id}</td>
		<td align="left" class="nivel02">{$REG[linea].titulo}</td>
		<td align="left" class="nivel02">{$REG[linea].marca}</td>
		<td align="left" class="nivel02">{$REG[linea].portada}</td>
		<td align="left" class="nivel02" width="{$w}" height="{$h}">
			<img alt="No disponible" title="{$REG[linea].titulo}" src="{$url_galeria}{$REG[linea].ficha}.jpg" width="{$w}" height="{$h}" />
		</td>
		<td width="50px" class="nivel02" nowrap="nowrap">
			{include file="base_accion_grid.htm"}
		</td>
	</tr>
	{/section}
</table>